:root {
    --primary-bg-color: #FFF;
    --secondary-bg-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr 1fr / 1fr
}

#book-form {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 70%;
    border-collapse: collapse;
}
table th, table td {
    border: 1px solid black;
    
}

.options-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options-image img {
    width: 20px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}