:root {
    --primary-bg-color: #FFF;
    --secondary-bg-color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr 1fr / 1fr
}

header, main, footer, .options-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;
}

h1 {
    margin: 20px 0;
}

#book-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 20px auto;
    align-items: center;
}

input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: var(--secondary-bg-color);
    color: var(--primary-bg-color);
    cursor: pointer;
}

table {
    width: 70%;
    border-collapse: collapse;
}
table th, table td {
    border: 1px solid black;
    
}

.options-image img {
    width: 20px;
    cursor: pointer;
}